<app-header></app-header>

<div class="container-fluid">
  <div style="text-align:center"  >
        <h2 class="card-header bg-white">
          Welcome to {{ title }} dashboard!
        </h2>
 
  </div>
  <section class="section section-count pt-4">
    <div class="row" *ngIf="count" >

      <div  class="col-lg-3 col-md-6 col-sm-12 mb-4 "> 
        <div class="my-badge my-badge-orange ">
            <h3><a  (click)="getCategoriesfrm()">Categories</a></h3>
            <div style="text-align: center; "><h1>{{count.countcategories}}</h1></div>
            <span class="right p-1 pt-0">
                <button class="my-i my-i-transparent  float-right border border-0" (click)="getCategoriesfrm()"><i class="fas fa-table "></i></button>
                <button class="my-i my-i-transparent  float-right" (click)="getCategorieschart()"><i class="fas fa-chart-area"></i></button>
            </span>
        </div>
      </div>


      <div  class="col-lg-3 col-md-6 col-sm-12 mb-4 ">
        <div class="my-badge my-badge-second ">
            <h3><a   (click)="getUsersfrm()">Users</a> </h3>
            <div style="  text-align: center; "><h1>{{count.countusers}}</h1></div>
            <span class="right p-1 pt-0">
                <button class="my-i my-i-transparent  float-right" (click)="getUsersfrm()" ><i class="fas fa-table "></i></button>
                <button class="my-i my-i-transparent  float-right"(click)="getUserschart()" ><i class="fas fa-chart-area"></i></button>
            </span>
        </div>
                                  
      </div>


      <div  class="col-lg-3 col-md-6 col-sm-12 mb-4 ">
        <div class="my-badge my-badge-danger ">
            <h3><a   (click)="getPropertiesfrm()" >Properties</a> </h3>
            <div style="  text-align: center; "><h1>{{count.countproperties}}</h1></div>
            <span class="right p-1 pt-0">
                  <button class="my-i my-i-transparent  float-right"  (click)="getPropertiesfrm()" ><i class="fas fa-table "></i></button>
                  <button class="my-i my-i-transparent  float-right" (click)="getPropertiesChart()" ><i class="fas fa-chart-area"></i></button>
            </span>
        </div>
      </div>


      <div  class="col-lg-3 col-md-6 col-sm-12 mb-4 ">
        <div class="my-badge my-badge-dark ">
              <h3><a  (click)="getViewsfrm()">Views</a></h3>
              <div  style="  text-align: center; "><h1>{{count.countviews}}</h1></div>
              <span class=" right p-1 pt-0">
                  <button class="my-i my-i-transparent  float-right"  (click)="getViewsfrm()" ><i class="fas fa-table "></i></button>
                  <button class="my-i my-i-transparent  float-right" (click)="getViewsChart()" ><i class="fas fa-chart-area"></i></button>
              </span>

        </div>
                                  
      </div>

    </div>

  
  </section>


  <!--==================================================================================================== -->



  <!-- ==================================================
           Properties FORMS
  ================================================== -->


  <div  class="row card properties m-1 p-1" *ngIf="propertiesfrm" >
    <div class="p-1 pt-3"> 
      <h2>Properties Table</h2>
      <hr>
    </div>
    <div class=" bg-white pl-1 pr-1">
        <div class="float-right">
               <input class="form-control" type="text"  class="my-input my-input-white " v-model="sname" (keyup)="onSearch($event.target.value)" placeholder="search">
               <input class="form-control" type="submit" class="my-btn my-btn-white hide-sm" value="search"  (click)="getpage(1)" >
               <input class="form-control" type="submit" class="my-btn my-btn-white "  value="add" (click)="getNewPropertyfrm()" >
        </div>
    </div>
    <table class="my-table">


          <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Photo</th>

                    <th scope="col">Category</th>
                    <th scope="col">Rent/Sale</th>
                    <th scope="col">Price</th>
                    <th scope="col">Created At</th>
                    <th scope="col">User</th>
                    <th scope="col"></th>
                  </tr>
          </thead>
  
  
          <tbody  *ngIf="properties">
  
  
  
                  <tr   *ngFor="let property of properties" >
                    <th scope="row"> {{ property.id }} </th>
                    <td><img src={{serverimg+property.image}} width="30" class="img" style="width:30px"/></td>          

                    <td> {{ property.title }}</td>
                    <td> {{ property.categorie.name }}</td>
                    <td><span *ngIf="property.sale==1"> Sale</span><span *ngIf="property.sale==0">Rent</span></td>
                    <td> {{ property.price }}</td>
 
                    <td> {{ property.created_at }}</td>
                    <td> {{ property.user.name }}</td>

                    <td>
                          <button type="button"  class="my-btn my-btn-white "  (click)="UpdateProperty(property.id)">update</button>
                    </td>
                  </tr>
        
          </tbody>
    </table>
                        <!--Grid row-->
    <div class="row justify-content-center mt-4">
                            <!--Pagination -->
        <nav class="mb-4">
            <ul class="pagination pagination-circle pg-primary mb-0"  *ngIf="nmbrpage>1">
  
                                    <!--First-->
              <li  (click)="getpage(1)" class="page-item  clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect" >First</a></li>
  
                                    <!--Arrow left-->
                <li  (click)="getpage(page-1)" class="page-item ">
                    <a class="page-link waves-effect waves-effect" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <span  *ngFor="let i of lmbrpage"  >
                                    <!--Numbers-->
                  <li  *ngIf=" i == page " (click)="getpage(i)" class="page-item active  "><a class="page-link waves-effect waves-effect my-green" >{{i}}</a></li>
                  <li  *ngIf=" i != page && i>0" (click)="getpage(i)" class="page-item"><a class="page-link waves-effect waves-effect">{{i}}</a></li>
                </span>
  
                                    <!--Arrow right-->
                <li  (click)="getpage((page*1)+1)"   class="page-item">
                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li   (click)="getpage(nmbrpage)"  class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect"  >Last</a></li>
            </ul>
        </nav>
                            <!--/Pagination -->
    </div>
                        <!--Grid row-->

  </div>

  <div class="m-2 row card newproperty"   *ngIf="newpropertyfrm">



    <div class="p-2 mt-5 mb-5">

        <h1>New Property</h1>

        <form [formGroup]="propertyForm" class="row" (ngSubmit)="onNewProperty()">

          <h5 *ngIf="success">Your form is valid!</h5>

          <div class="col-md-6">
             <label for="">Title</label>
             <input class="form-control" type="text" formControlName="title">
            <div *ngIf="submitted && propertyForm.controls.title.errors" class="error">
              <div *ngIf="propertyForm.controls.title.errors.required">Your name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Category</label>
            <select type="text" class="form-control" formControlName="category"  >
                  <option  *ngFor="let category of allcategories" [value]="category.id">{{category.name}}</option>
            </select>
            <div *ngIf="submitted && propertyForm.controls.category.errors" class="error">
              <div *ngIf="propertyForm.controls.category.errors.required">Your category is required</div>
            </div>
          </div>
          <div class="col-md-6">
              <label for="">Description</label>
              <textarea row="10" formControlName="description">
                    
              </textarea>
              <div *ngIf="submitted && propertyForm.controls.category.description" class="error">
                <div *ngIf="propertyForm.controls.category.description.required">Your description is required</div>
              </div>
            </div>
            <div class="col-md-6">
                <label for="">Price</label>
                <input class="form-control" type="text" formControlName="price">
                <div *ngIf="submitted && propertyForm.controls.price.errors" class="error">
                  <div *ngIf="propertyForm.controls.price.errors.required">Your buy price is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="">Area Size</label>
                <input class="form-control" type="text" formControlName="area_size">
                <div *ngIf="submitted && propertyForm.controls.area_size.errors" class="error">
                      <div *ngIf="propertyForm.controls.area_size.errors.required">Your area_size price is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="">Phone</label>
                 <input class="form-control" type="text" formControlName="phone">
                <div *ngIf="submitted && propertyForm.controls.phone.errors" class="error">
                      <div *ngIf="propertyForm.controls.phone.errors.required">Your phone is required</div>
                </div>
            </div>


            <div class="col-md-6">
              <label for="">Address</label>
               <input class="form-control" type="text" formControlName="address">
              <div *ngIf="submitted && propertyForm.controls.address.errors" class="error">
                    <div *ngIf="propertyForm.controls.address.errors.required">Your promotion is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="">Near City</label>
               <input class="form-control" type="text" formControlName="near_city">
              <div *ngIf="submitted && propertyForm.controls.near_city.errors" class="error">
                    <div *ngIf="propertyForm.controls.near_city.errors.required">Your promotion is required</div>
              </div>
            </div>


            <div class="col-md-6">
              <label for="">Balcony</label>
              <select type="text" class="form-control" formControlName="balcony">
                <option value="1">Yes</option>
                <option value="0">No</option>
             </select>
              <div *ngIf="submitted && propertyForm.controls.balcony.errors" class="error">
                    <div *ngIf="propertyForm.controls.balcony.errors.required">Your promotion is required</div>
              </div>
            </div>


            
            <div class="col-md-6">
              <label for="">Sale/Rent</label>

              <select type="text" class="form-control" formControlName="salerent">
                <option value="sale">Sale</option>
                <option value="rent">Rent</option>
             </select>
              <div *ngIf="submitted && propertyForm.controls.salerent.errors" class="error">
                    <div *ngIf="propertyForm.controls.salerent.errors.required">Your promotion is required</div>
              </div>
            </div>




            <div class="col-md-6">
              <label for="">date build</label>
               <input class="form-control" type="date" formControlName="date_build">
              <div *ngIf="submitted && propertyForm.controls.date_build.errors" class="error">
                    <div *ngIf="propertyForm.controls.date_build.errors.required">Your promotion is required</div>
              </div>
            </div>

    
            <div class="col-md-12  row mb-2">
                <label  class="col-md-12" for="imgURL">Property Image</label>

                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input class="form-control" #file type="file" accept='image/*'  id="imgURL" name="imgURL" (change)="preview(file.files)" />
                <img  class="col-md-6 ml-2" [src]="imgURL" height="200" >
            </div>

      
            <div class="col-md-12 mt-2">
                <div class="float-right">
                    <input  type="submit" class="my-btn  my-btn-primary uppercase" value="ADD" >
                    <button type="button" class="my-btn my-btn-white uppercase"  (click)="getPropertiesfrm()" >CANCEL</button>
                </div>  
            </div>
      
        </form>

        <div *ngIf="submitted" class="results">
        </div>

    </div>

  </div>

  <div class="m-2 row card editpropertyfrm"   *ngIf="editpropertyfrm">
      <div class="p-2 mt-5 mb-5">
  
          <h1>Update Property</h1>
  
          <form [formGroup]="epropertyForm" class="row" (ngSubmit)="onUpdateProperty()">

            <h5 *ngIf="success">Your form is valid!</h5>
  
            <div class="col-md-6">
               <label for="">Title</label>
               <input class="form-control" type="text" formControlName="title">
              <div *ngIf="submitted && epropertyForm.controls.title.errors" class="error">
                <div *ngIf="epropertyForm.controls.title.errors.required">Your name is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="">Category</label>
              <select type="text" class="form-control" formControlName="category"  >
                    <option  *ngFor="let category of allcategories" [value]="category.id">{{category.name}}</option>
              </select>
              <div *ngIf="submitted && epropertyForm.controls.category.errors" class="error">
                <div *ngIf="epropertyForm.controls.category.errors.required">Your category is required</div>
              </div>
            </div>
            <div class="col-md-6">
                <label for="">Description</label>
                <textarea row="10" formControlName="description">
                      
                </textarea>
                <div *ngIf="submitted && epropertyForm.controls.category.description" class="error">
                  <div *ngIf="epropertyForm.controls.category.description.required">Your description is required</div>
                </div>
              </div>
              <div class="col-md-6">
                  <label for="">Price</label>
                  <input class="form-control" type="text" formControlName="price">
                  <div *ngIf="submitted && epropertyForm.controls.price.errors" class="error">
                    <div *ngIf="epropertyForm.controls.price.errors.required">Your buy price is required</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <label for="">Area Size</label>
                  <input class="form-control" type="text" formControlName="area_size">
                  <div *ngIf="submitted && epropertyForm.controls.area_size.errors" class="error">
                        <div *ngIf="epropertyForm.controls.area_size.errors.required">Your area_size price is required</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <label for="">Phone</label>
                   <input class="form-control" type="text" formControlName="phone">
                  <div *ngIf="submitted && epropertyForm.controls.phone.errors" class="error">
                        <div *ngIf="epropertyForm.controls.phone.errors.required">Your phone is required</div>
                  </div>
              </div>
  
  
              <div class="col-md-6">
                <label for="">Address</label>
                 <input class="form-control" type="text" formControlName="address">
                <div *ngIf="submitted && epropertyForm.controls.address.errors" class="error">
                      <div *ngIf="epropertyForm.controls.address.errors.required">Your Address is required</div>
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="">Near City</label>
                 <input class="form-control" type="text" formControlName="near_city">
                <div *ngIf="submitted && epropertyForm.controls.near_city.errors" class="error">
                      <div *ngIf="epropertyForm.controls.near_city.errors.required">Your promotion is required</div>
                </div>
              </div>
  
  
              <div class="col-md-6">
                <label for="">Balcony</label>
                <select type="text" class="form-control" formControlName="balcony">
                  <option [value]=property.balcony> <span *ngIf="property.balcony==1">recent choice: yes</span> <span *ngIf="property.balcony==0">recent choice: no</span> </option>

                  <option value="1">Yes</option>
                  <option value="0">No</option>
               </select>
                <div *ngIf="submitted && epropertyForm.controls.balcony.errors" class="error">
                      <div *ngIf="epropertyForm.controls.balcony.errors.required">Your promotion is required</div>
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="">Enable</label>
                <select type="text" class="form-control" formControlName="enable">

                  <option value="1">Yes</option>
                  <option value="0">No</option>
               </select>
                <div *ngIf="submitted && epropertyForm.controls.enable.errors" class="error">
                      <div *ngIf="epropertyForm.controls.enable.errors.required">Your promotion is required</div>
                </div>
              </div>
              
              <div class="col-md-6">
                <label for="">Sale/Rent</label>
  
                <select type="text" class="form-control" formControlName="salerent">
                  <option value="sale">Sale</option>
                  <option value="rent">Rent</option>
               </select>
                <div *ngIf="submitted && epropertyForm.controls.salerent.errors" class="error">
                      <div *ngIf="epropertyForm.controls.salerent.errors.required">Your promotion is required</div>
                </div>
              </div>
  
  
  
  
              <div class="col-md-6">
                <label for="">date build</label>
                 <input class="form-control" type="date" formControlName="date_build">
                <div *ngIf="submitted && propertyForm.controls.date_build.errors" class="error">
                      <div *ngIf="propertyForm.controls.date_build.errors.required">Your promotion is required</div>
                </div>
              </div>
  
      
              <div class="col-md-12  row mb-2">
                  <label  class="col-md-12" for="imgURL">Property Image</label>
  
                  <span style="color:red;" *ngIf="message">{{message}}</span>
                  <input class="form-control" #file type="file" accept='image/*'  id="imgURL" name="imgURL" style="display: none" (change)="preview(file.files)" />
                  <img  class="col-md-6 ml-2" [src]="imgURL" height="200" *ngIf="imgURL">
              </div>
  
        
              <div class="col-md-12 mt-2">
                  <div class="float-right">
                      <input  type="submit" class="my-btn  my-btn-primary uppercase" value="ADD" >
                      <button type="button" class="my-btn my-btn-white uppercase"  (click)="getPropertiesfrm()" >CANCEL</button>
                  </div>  
              </div>
        
          </form>
          <div *ngIf="submitted" class="results">
          </div>
  
      </div>
  </div>

  <div class="row card"  *ngIf="propertieschart">
    <div class="p-1 pt-3"> 
      <h2>Properties Chart</h2>
      <hr>
    </div>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="propertiesdata"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-line-chart>
  

  </div>


  <!--==================================================================================================== -->



  <!-- ==================================================
           CATEGORY FORMS
  ================================================== -->

  <div class="row card m-2 p-2" *ngIf="categoriesfrm" >
      <div class="p-1 pt-3"> 
        <h2>Categories Table</h2>
        <hr>
      </div>
      <div class=" bg-white pl-1 pr-1">
          <div class="float-right">
                 <input class="form-control" type="text"  class="my-input my-input-white " v-model="sname" (keyup)="onSearch($event.target.value)" placeholder="search">
                 <input class="form-control" type="submit" class="my-btn my-btn-white hide-sm" value="search" (click)="getpage(1)" >
                 <input class="form-control" type="submit" class="my-btn my-btn-white "  value="add" (click)="getnewCategoryfrm()" >
          </div>
      </div>

    <table class="my-table p-2">


        <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">N° Properties</th>
                  <th scope="col"></th>
                </tr>
        </thead>


        <tbody  *ngIf="categories">



                <tr   *ngFor="let category of categories" >
                  <th scope="row"> {{ category.id }} </th>
                  <td> {{ category.name }}</td>
                  <td> {{ category.property.length }}</td>
                  <td>
                        <button type="button" class="my-btn my-btn-white" (click)="onEditCategory(category.id,category.name)">update</button>
                  </td>
                </tr>
      
        </tbody>


      </table>

                        <!--Grid row-->
      <div class="row justify-content-center mt-4">
                                <!--Pagination -->
            <nav class="mb-4">
                <ul class="pagination pagination-circle pg-primary mb-0"  *ngIf="nmbrpage>1">

                                        <!--First-->
                  <li  (click)="getpage(1)" class="page-item  clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect" >First</a></li>

                                        <!--Arrow left-->
                    <li  (click)="getpage(page-1)" class="page-item ">
                        <a class="page-link waves-effect waves-effect" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <span  *ngFor="let i of lmbrpage"  >
                                        <!--Numbers-->
                      <li  *ngIf=" i == page " (click)="getpage(i)" class="page-item active  "><a class="page-link waves-effect waves-effect my-green" >{{i}}</a></li>
                      <li  *ngIf=" i != page && i>0   && i < page+3   && i > page-3"   (click)="getpage(i)" class="page-item"><a class="page-link waves-effect waves-effect">{{i}}</a></li>
                    </span>

                                        <!--Arrow right-->
                    <li  (click)="getpage((page*1)+1)"   class="page-item">
                        <a class="page-link waves-effect waves-effect" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li   (click)="getpage(nmbrpage)"  class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect"  >Last</a></li>
                </ul>
            </nav>
                                <!--/Pagination -->
      </div>
                  <!--Grid row-->

  </div>

  <div class=" row card m-2 newcategory"   *ngIf="newcategoryfrm">



    <div class=" p-2 mt-5 mb-5">

        <h1>New Category</h1>

        <form [formGroup]="categoryForm" (ngSubmit)="onNewCategory()">

          <h5 *ngIf="success">Your form is valid!</h5>

          <label class="col-md-12">
              <label for="name">Name</label>
              <input class="form-control" type="text" formControlName="name">
              <div *ngIf="submitted && categoryForm.controls.name.errors" class="error">
                <div *ngIf="categoryForm.controls.name.errors.required">Your name is required</div>
              </div>
          </label>

          <div class="col-12 pt-3">
              <div class="float-right">
                  <input class="form-control" type="submit" value="add" class="my-btn my-btn-white uppercase" >
                  <button type="button" class="my-btn my-btn-white uppercase"  (click)="getCategoriesfrm()" >CANCEL</button>
              </div>  
          </div>

        
        </form>

        <div *ngIf="submitted" class="results">
        </div>

    </div>

  </div>

  <div class="row card m-2  editcategoryfrm"   *ngIf="editcategoryfrm">
      <div class=" p-2 mt-5 mb-5">

          <h1>Update Category </h1>

          <form [formGroup]="edtcategoryForm" (ngSubmit)="onUpdateCategory()">

            <h5 *ngIf="success">Your form is valid!</h5>

            <label class="col-md-12">
              <label for="name">Name</label>
              <input class="form-control" type="text" formControlName="name"  >
              <div *ngIf="submitted && edtcategoryForm.controls.name.errors" class="error">
                <div *ngIf="edtcategoryForm.controls.name.errors.required">Your name is required</div>
              </div>
            </label>
          
        
            <div class="col-12 pt-3">
                  <div class="float-right">
                      <input class="form-control" type="submit" value="update" class="my-btn my-btn-white uppercase" >
                      <button type="button" class="my-btn my-btn-white uppercase"  (click)="getCategoriesfrm()" >CANCEL</button>
                  </div>  
            </div>   
              
              
          </form>

          <div *ngIf="submitted" class="results">
          </div>

      </div>
  </div>
  <div class="row card m-2"  *ngIf="categorieschart">

      <div class="p-1 pt-3"> 
        <h2>Categories Chart</h2>
        <hr>
     </div>

        <ngx-charts-advanced-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="datacategories"
          [gradient]="gradient"

          >
        </ngx-charts-advanced-pie-chart>
  </div>

  <!--==================================================================================================== -->



  <!-- ==================================================
           USER FORMS
  ================================================== -->


  <div class="row card usersfrm p-2 m-2"   *ngIf="usersfrm">
      <div class="p-1 pt-3"> 
        <h2>Users Table</h2>
        <hr>
      </div>

      <div class=" bg-white pl-1 pr-1">
          <div class="float-right">
                 <input class="form-control" type="text"  class="my-input my-input-white " v-model="sname" (keyup)="onSearch($event.target.value)" placeholder="search">
                 <input class="form-control" type="submit" class="my-btn my-btn-white hide-sm" value="search"  (click)="getpage(1)" >
          </div>
      </div>

        <table class="my-table ">
          
          
          <thead class="thead">
                  <tr>
                    <th scope="col">#</th>     
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                  </tr>
          </thead>


          <tbody  *ngIf="users">



                  <tr   *ngFor="let user of users" >
                    <th scope="row"> {{ user.id }} </th>
                    <td><img src={{serverimg+user.image}} width="30" class="img" style="width:30px"/></td>          
                    <td> {{ user.name }}</td>
                    <td> {{ user.email }}</td>
                    <td> {{ user.created_at }}</td>
                    <td> <span  *ngIf="user.email_verified_at!=null" >Active</span> <span  *ngIf="user.email_verified_at==null" >Inactive</span></td>
                    <td> {{ user.role }}</td>


                    <td><button type="button"  class="my-btn my-btn-white"  (click)="getEditUserfrm( user )">Update</button></td>
                  </tr>
        
          </tbody>
        </table>

                          <!--Grid row-->
        <div class="row justify-content-center mt-4">
                            <!--Pagination -->
          <nav class="mb-4">
            <ul class="pagination pagination-circle pg-primary mb-0"  *ngIf="nmbrpage>1">

                                    <!--First-->
              <li  (click)="getpage(1)" class="page-item  clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect" >First</a></li>

                                    <!--Arrow left-->
                <li  (click)="getpage(page-1)" class="page-item ">
                    <a class="page-link waves-effect waves-effect" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <span  *ngFor="let i of lmbrpage"  >
                                    <!--Numbers-->
                  <li  *ngIf=" i == page " (click)="getpage(i)" class="page-item active  "><a class="page-link waves-effect waves-effect my-green" >{{i}}</a></li>
                  <li  *ngIf=" i != page && i>0" (click)="getpage(i)" class="page-item"><a class="page-link waves-effect waves-effect">{{i}}</a></li>
                </span>

                                    <!--Arrow right-->
                <li  (click)="getpage((page*1)+1)"   class="page-item">
                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li   (click)="getpage(nmbrpage)"  class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect"  >Last</a></li>
            </ul>
          </nav>
                            <!--/Pagination -->

        </div>
                        <!--Grid row-->
  </div>



  <div class="m-2 row card   usereditfrm"   *ngIf="edituserfrm">
    <div class="card-header"><h2>User Update :</h2>      {{eusername}}</div>

    <form [formGroup]="euserForm" (ngSubmit)="onUpdateUser()" class=" p-2 mt-5 mb-5">

      <h5 *ngIf="success">Your form is valid!</h5>

      <div class="col-md-12">
           <label for="">Role</label>
            <select type="text"  class="form-control"  formControlName="role">
                  <option  class="form-control"  value="Admin">Admin</option>
                  <option  class="form-control"  value="User">User</option>
                  <option  class="form-control"  value="Blocked">Blocked</option>
            </select>
            <div *ngIf="submitted && euserForm.controls.role.errors" class="error">
              <div *ngIf="euserForm.controls.role.errors.required">User role is required</div>
            </div>
        </div>

        <div class="col-12 pt-3">
            <div class="float-right">
                <input class="form-control" type="submit" value="update" class="my-btn my-btn-white uppercase" >
                <button type="button" class="my-btn my-btn-white uppercase"  (click)="getUsersfrm()" >CANCEL</button>
            </div>  
        </div>             
    </form>

  </div>



  <div class="m-2 row card  "  *ngIf="userschart">


      <div class="p-1 pt-3"> 
        <h2>Users Chart</h2>
        <hr>
      </div>
      

      <ngx-charts-bar-horizontal-2d
          [view]="view"
          [scheme]="colorScheme"
          [results]="usersdata"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="yAxisLabel"
          [yAxisLabel]="xAxisLabel"
          (select)="onSelect($event)">
     </ngx-charts-bar-horizontal-2d>
  </div>



  <!--==================================================================================================== -->



  <!-- ==================================================
           VIEWS FORMS
  ================================================== -->



<div class="row card m-2 p-1" *ngIf="viewsfrm" >
    <div class="p-1 pt-3"> 
      <h2>Views Table</h2>
      <hr>
    </div>
    <div class=" bg-white pl-1 pr-1">
        <div class="float-right">
               <input class="form-control" type="text"  class="my-input my-input-white " v-model="sname" (keyup)="onSearch($event.target.value)" placeholder="search">
               <input class="form-control" type="submit" class="my-btn my-btn-white hide-sm" value="search"  (click)="getpage(1)" >
        </div>
    </div>


    <table class="my-table">
        <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Country</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Property</th>


                  <th scope="col"></th>
                </tr>
        </thead>
        <tbody  *ngIf="views">

                <tr   *ngFor="let view of views" >
                  <th scope="row"> {{ view.id }} </th>          
                  <td> {{ view.country }}</td>
                  <td> {{ view.created_at  }}</td>
                  <td> {{ view.property.title }}</td>

                  <td>
                        <button type="button"  class="my-btn my-btn-white" (click)="deleteView(view.id)">delete</button>
                  </td>
                </tr>
      
        </tbody>
    </table>
                      <!--Grid row-->
    <div class="row justify-content-center mt-4">
                          <!--Pagination -->
        <nav class="mb-4">
          <ul class="pagination pagination-circle pg-primary mb-0"  *ngIf="nmbrpage>1">

                                  <!--First-->
            <li  (click)="getpage(1)" class="page-item  clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect" >First</a></li>

                                  <!--Arrow left-->
              <li  (click)="getpage(page-1)" class="page-item ">
                  <a class="page-link waves-effect waves-effect" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
              <span  *ngFor="let i of lmbrpage"  >
                                
                <li  *ngIf=" i == page   " (click)="getpage(i)" class="page-item active  "><a class="page-link waves-effect waves-effect my-green" >{{i}}</a></li>
                <li  *ngIf=" i != page && i>0   && i < page+3   && i > page-3 " (click)="getpage(i)" class="page-item"><a class="page-link waves-effect waves-effect">{{i}}</a></li>
              </span>

                                  <!--Arrow right-->
              <li  (click)="getpage((page*1)+1)"   class="page-item">
                  <a class="page-link waves-effect waves-effect" aria-label="Next">
                      <span aria-hidden="true">»</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
              <li   (click)="getpage(nmbrpage)"  class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect"  >Last</a></li>
          </ul>
        </nav>
                          <!--/Pagination -->
    </div>
                      <!--Grid row-->

</div>



<div class="row card m-3"  *ngIf="viewschart">

  <div class="p-1 pt-3"> 
    <h2>Views Chart</h2>
    <hr>
  </div>

    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="viewsdata"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
    </ngx-charts-line-chart>
  

</div>




<!--============================================================================================================= -->


</div>
