<app-header></app-header>


<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-7 about-left mt-5">
      <h3>LAP</h3>
      <p>Modern Real Estate Made Simple.
        All the capabilities you’d expect from a full-featured platform,
        without the pain of navigating complex systems.</p>

      <img class="img-fluid" src="http://localhost:8000/img/sideimage.png" alt="">

    </div>
    <div class="col-md-5 card p-5 about-right">
     
      <div class="wow fadeIn" data-wow-duration="1s">
  
            <div *ngIf="!hasToken" >

                <div class="text-center">
                        <h3><i class="fa fa-lock"></i>Send Email </h3>
                        <p>You can send  activation link to your email here.</p>
                        <div class="panel-body">
                          <h5 *ngIf="success">Your form is valid!</h5>
    
                          <form id="register-form" role="form" [formGroup]="sendtokenForm" (ngSubmit)="sendToken()" class="form" >
          
                            <div class="form-group">
                              <div class="input-group">
                                <label for="email"><h5 class="pb-2"> Email Address</h5></label>
                                <input class="form-control mt-4" type="text" formControlName="email">
                                <div *ngIf="submitted && sendtokenForm.controls.email.errors" class="error">
                                  <div *ngIf="sendtokenForm.controls.email.errors.required">Your email is required</div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group">
                              <button  type="submit"  class=" primary-btn text-right">Send Email</button>
                            </div>
                            
                            <input type="hidden" class="hide" name="token" id="token" value=""> 
                          </form>
          
                        </div>
                </div>
               
            </div>
      
          <div *ngIf="hasToken">
              <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Active Account</h3>
                    <p>You can active your Account here.</p>
                    <h5 *ngIf="success">Your form is valid!</h5>
                    <form class="form" (ngSubmit)="onActive()" >
                        <div class="form-group">
                                <button  type="submit"  class=" primary-btn text-right">Active </button>
                        </div>                        
                    </form>

               
              </div>
          </div>
    
          <hr>     



      </div>

    </div>
  </div>
</div>



<hr>

<app-footer></app-footer>





