


.nav i{

    color: rgb(231, 231, 238) ;
}
   
a{
    color: rgb(4, 89, 104) ;
}
.titleproperty {
    color: rgb(6, 108, 148);
    font-style: oblique;
    font-size:14px;
    font-family: monospace;
}
.titlegrandproperty {
    color: rgb(6, 108, 148);
    font-style: oblique;
    font-size:24px;
    font-family: monospace;
}
.footer i{

 color: rgb(77, 77, 80) ;
}

h2,h3{

    color: rgb(7, 133, 150);
  
 }

 h1,h4{

    color: rgb(12, 68, 114);
 }

 
 .name{

    color: rgb(7, 133, 150);
 }
 .section-count h1,h3{

    color: cornsilk;
   }
   

.text-white{

    color: rgb(252, 253, 253);

}
.text-gr{

    color: rgb(29, 167, 177);

}
.text-dark{

    color: rgb(123, 127, 128);

}
.text-black{

    color: rgb(17, 17, 17);

}

.inputs-search{
    opacity: 0.7;  

    background-color: rgb(5, 73, 104);
    

}




@media (min-width: 801px) {
    .fscreen{

        width: 98%;
        padding-left:2%;

    }
    .home-banner-area   {
        text-align: left;
        height: 260px;
        padding-top: 60px;
    }
    .searchbtns  {
        padding-top: 0px;
        margin-top: -10px;

    }
    .inputs-search{
        opacity: 0.7;  
        margin-top: -60px;

        background-color: rgb(5, 73, 104);
        height: 260px;

    
    }



}

@media (max-width: 800px) {
    .home-banner-area   {
        text-align: left;
        height: 260px;
        padding-top: 60px;
    }
    .searchbtns  {
        padding-top: 0px;
        margin-top: -10px;

    }
    .inputs-search{
        opacity: 0.7;  
        margin-top: -60px;

        background-color: rgb(5, 73, 104);
        height: 260px;

    
    }

    .fscreen{

        width: 95%;
        padding-left:4%;

    }

}
.itemlink a{

    color: rgb(29, 167, 177);

}

input[type="text"], textarea {

    background-color : #ffffff; 
  
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  


a{
    color: rgb(4, 89, 104) ;
}




.card{
    -webkit-box-shadow: 0px -0px 0px -0px rgb(84, 187, 218);
    -moz-box-shadow: 0px -0px 0px -0px rgb(106, 180, 223);
    box-shadow: 0px -0px 0px -0px rgb(66, 130, 173);
    
    border: none;
    padding-right:0px ;
    margin-right: 0px;
    margin-left: 10px;

}

